* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100%;
	height: 100%;
}

li {
	list-style: none;
}

.left{
	float: left;
}

.right{
	float: right;
}

.navlist {
	margin: 0;
	padding: 25px 0;
}

.navlist li {
	display: inline-block;
	margin-right: 30px;
}

.navlist li a {
	font-size: 18px;
	color: #eee;
	text-decoration: none;
}

.navlist li a:hover{
	color: #333;
}

.navlist li:last-child{
	margin-right: 0;
}

#header{
	height: 100%;
	background: #17baef;
}

#menu {
	height: 80px;
	width: 100%;
	background: transparent;
}

.logo {
	font-size: 26px;
	padding: 20px 0;
}

.logo a {
	color: #fff;
	text-decoration: none;
}

.header-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.header-content h2{
	font-size: 98px;
	font-weight: bolder;
	color: #074f66;
}

.header-content h2 span {
	color: orange;
}

.header-content p {
	color: #fff;
	font-size: 30px;
}

.header-content button {
	font-weight: bolder;
	padding: 8px 25px;
	font-size: 20px;
}

.header-desc {
	margin: 0;
	margin-top: 120px;
	padding: 5px 0;
}

.header-desc li {
	display: inline-block;
	color: #074f66;
	margin-right: 20px;
}

.header-desc li:last-child{
	margin-right: 0;
}

.header-desc li a {
	color: #0a7396;
}

.header-desc li a:hover {
	color: #074f66;
	transition: all 0.5s;
}

.header-footer{
	position: absolute;
	bottom: 0;
	background: #0c86ae;
	width: 100%;
	height: 80px;
}

.header-social {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header-social li {
	display: inline-block;
	margin-right: 10px;
}

.header-social li:last-child{
	margin-right: 0;
}